@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

:root {
  --bg-color: #1d1d1d;
  --accent-color: #a2ffdb;
}

.app {
  font-family: "Roboto Mono", serif;
  text-align: center;
  background-color: var(--bg-color);
  height: 100%;
  padding: 50px;
  color: var(--accent-color);
}

.todolist {
  margin: auto;
  max-width: 425px;
}

.title {
  color: var(--accent-color);
}

.input-container {
  position: relative;
  flex: 1;
}

.form {
  display: flex;
}

.input {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  padding: 10px;
  padding-right: 30px;
  border-radius: 6px;
  font-size: 22px;
  font-family: inherit;
  width: 100%;
}

.input::placeholder {
  color: var(--accent-color);
  opacity: 0.4;
  font-style: italic;
}

.cancel {
  background-color: transparent;
  position: absolute;
  right: 0;
  border: none;
  color: var(--accent-color);
  padding: 6px 6px;
  margin: 6px;
  font-size: 22px;
  font-family: inherit;
  cursor: pointer;
}

.cancel:hover {
  background-color: #a2ffdb33;
  border-radius: 6px;
}

.submit {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  padding: 10px;
  border-radius: 6px;
  font-size: 22px;
  margin-left: 8px;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 0 0px transparent;
}

.submit:hover {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  color: var(--bg-color);
  padding: 10px;
  box-shadow: 0 0 10px #a2ffdb99;
}

.todo {
  text-align: left;
  margin-top: 8px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  padding: 10px;
  border-radius: 6px;
  font-size: 22px;
  font-family: inherit;
  cursor: pointer;
}

.todo:hover {
  background-color: #a2ffdb33;
}

.todo.completed {
  opacity: .4;
}

.todo.completed .text {
  text-decoration: line-through;
}

.checkbox {
  font-size: 34px;
  line-height: 10px;
  margin-right: 10px;
}

.todo-delete {
  float: right;
  padding: 0px 4px;
  cursor: pointer;
}

.todo-delete:hover {
  background-color: #a2ffdb33;
  border-radius: 6px;
}
